{% extends 'base.html' %}

{% block meta %}
<title>Tambah Kartu</title>
{% endblock meta %}


{% block content %}
<div id="loadingOverlay" class="fixed inset-0 flex items-center justify-center z-50 bg-black bg-opacity-50">
   
    <div  role="status" class="bg-white bg-opacity-50 rounded-lg p-4 shadow-lg flex justify-center items-center">
        <svg aria-hidden="true" class="w-10 h-10  text-gray-200 animate-spin dark:text-gray-600 fill-blue-600" viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z" fill="currentColor"/>
            <path d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z" fill="currentFill"/>
        </svg>
    </div>
</div>
<div class=" hidden md:flex fixed right-0 top-0 h-screen w-3/4 bg-blue-700 -z-20" style="clip-path: polygon(100% 0%, 100% 100%, 0% 100%, 80% 0%);">
</div>
<div class="hidden fixed md:flex justify-end items-end w-screen h-screen -z-10 ">
    <img class=" w-96 h-auto"src="https://firebasestorage.googleapis.com/v0/b/isa-citra-1691878861005.appspot.com/o/marin-svg.svg?alt=media&token=4260c0db-77af-4631-b748-c1d562032baa" alt="">
</div>
<div class=" w-screen  min-h-screen flex lg:-ml-8 justify-center lg:justify-center md:justify-start items-center text-white">
    <div class= "flex flex-col items-center">
        <h1 class="mt-6 text-white text-4xl font-bold font-sans"> Tambah <span class="text-[#00A8FF]">Kartu Waifu</span></h1>
        <div class=" text-white mt-4 md:mt-8 bg-slate-950 px-4 max-w-[95%] mx-2 md:min-w-[36rem] py-2 rounded-md">
            <form method="POST" action="">
                {% csrf_token %}
               
               <div class=" grid grid-cols-4 gap-4">
                <div class=" flex-col flex md:col-span-2 col-span-3">
                    <label for="name" class=" text-white mb-2 text-sm">Nama Waifu</label>
                    <input for="name" name="name" id="name" class="bg-slate-800 focus:border  text-white  text-sm rounded-xs focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" type="text" placeholder="Nama waifu idamanmu" required>
                </div>
                <div class="mb-2 md:col-span-2 col-span-1">
                    <label for="amount" class="block text-white text-sm mb-2">Amount</label>
                    <input
                    required
                        type="number"
                        id="amount"
                        name="amount"
                        min="1"
                        max="100"
                        step="1"
                        placeholder="Jumlah"
                        class="bg-slate-800 focus:border  text-white  text-sm rounded-xs focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
                    >
                </div>
               </div>
                <div class=" grid-cols-2 md:grid gap-4">

                    <div class=" flex flex-col">
                        <label class="mt-2  mb-2 text-sm" for="strength">Strength</label>
                        <div class=" flex justify-between">
                            <input
                        required
                        class =" w-[90%]"
                        type="range"
                        id="strength"
                        name="strength"
                        min="1"
                        max="100"
                        step="1"
                        value="50"
                        oninput="updateOutput(this.value, 'strength-value'); "
                        >
                        <output for="strength" id="strength-value">50</output>
                        </div>
                    </div>

                    <div class=" flex flex-col">
                        <label class="mt-2  mb-2 text-sm" for="speed">Speed</label>
                        <div class=" flex justify-between">
                            <input
                        required
                        class =" w-[90%]"
                        type="range"
                        id="speed"
                        name="speed"
                        min="1"
                        max="100"
                        step="1"
                        value="50"
                        oninput="updateOutput(this.value, 'speed-value'); "
                        >
                        <output for="speed" id="speed-value">50</output>
                        </div>
                    </div>

                    <div class=" flex flex-col">
                        <label class="mt-2  mb-2 text-sm" for="intelligence">Intelligence</label>
                        <div class=" flex justify-between">
                            <input
                        required
                        class =" w-[90%]"
                        type="range"
                        id="intelligence"
                        name="intelligence"
                        min="1"
                        max="100"
                        step="1"
                        value="50"
                        oninput="updateOutput(this.value, 'intelligence-value')"
                        >
                        <output for="intelligence" id="intelligence-value">50</output>
                        </div>
                    </div>

                    <div class=" flex flex-col">
                        <label class="mt-2  mb-2 text-sm" for="potential">Potential</label>
                        <div class=" flex justify-between">
                            <input
                        required
                        class =" w-[90%]"
                        type="range"
                        id="potential"
                        name="potential"
                        min="1"
                        max="100"
                        step="1"
                        value="50"
                        oninput="updateOutput(this.value, 'potential-value');"
                        >
                        <output for="potential" id="potential-value">50</output>
                        </div>
                    </div>
                    <div class=" flex flex-col">
                        <label class="mt-2  mb-2 text-sm" for="endurance">Endurance</label>
                        <div class=" flex justify-between">
                            <input
                        required
                        class =" w-[90%]"
                        type="range"
                        id="endurance"
                        name="endurance"
                        min="1"
                        max="100"
                        step="1"
                        value="50"
                        oninput="updateOutput(this.value, 'endurance-value');"
                        >
                        <output for="endurance" id="endurance-value">50</output>
                        </div>
                    </div>
                   
                </div>
                <div class="flex flex-col">
                    <label for="description" class=" text-white mb-2 mt-2 text-sm">Deskripsi</label>
                    <textarea required id="description" for="description"name="description" class="bg-slate-800 focus:border  text-white  text-sm rounded-xs focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" type="text" placeholder="Deskripsi tentang waifumu"></textarea>
                </div>
                <div class=" grid grid-cols-2 gap-4 mt-2">
                    <div class="flex flex-col">
                        <label for="weight" class="block text-white text-sm mb-2">Weight (kg)</label>
                    <input
                        required
                        type="number"
                        id="weight"
                        name="weight"
                        min="1"
                        max="100"
                        step="0.5"
                        placeholder="Berat Waifu-mu"
                        class="bg-slate-800 focus:border  text-white  text-sm rounded-xs focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
                    >
                    </div>
                    <div class="flex flex-col">
                        <label for="amount" class="block text-white text-sm mb-2">Height (cm)</label>
                    <input
                        required
                        type="number"
                        id="height"
                        name="height"
                        min="1"
                        max="200"
                        step="0.5"
                        placeholder="Tinggi waifu-mu"
                        class="bg-slate-800 focus:border  text-white  text-sm rounded-xs focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
                    >
                    </div>
                </div>
                <div class="flex mt-4">
                    <input type="submit" value="Tambah Kartu" onclick="onSubmit()" class="ml-auto px-4 py-2 text-sm rounded-md bg-slate-900 hover:bg-slate-800">
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    const myElement = document.getElementById('loadingOverlay');


        window.addEventListener('load', function() {
            myElement.style.display = 'none';
        });
    function onSubmit (){
        myElement.style.display = 'flex';
        setTimeout(function() {
            myElement.style.display = 'none';
        }, 5000);
    }
    function updateOutput(value, elementId) {
        // Mengambil elemen output
        var outputElement = document.getElementById(elementId);
        
        // Mengubah teks pada elemen output sesuai dengan nilai input
        outputElement.textContent = value;
        
    }

</script>
{% endblock content %}