{% extends 'base.html' %}
{% block meta %}
    <title>Register</title>
    
{% endblock meta %}
{% block content %}
<div id="loadingOverlay" class="fixed inset-0 flex items-center justify-center z-50 bg-black bg-opacity-50">
   
    <div  role="status" class="bg-white bg-opacity-50 rounded-lg p-4 shadow-lg flex justify-center items-center">
        <svg aria-hidden="true" class="w-10 h-10  text-gray-200 animate-spin dark:text-gray-600 fill-blue-600" viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z" fill="currentColor"/>
            <path d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z" fill="currentFill"/>
        </svg>
    </div>
</div>
<div class=" hidden md:flex fixed right-0 top-0 h-screen w-3/4 bg-blue-700 -z-20" style="clip-path: polygon(100% 0%, 100% 100%, 0% 100%, 80% 0%);">
</div>

<div class=" min-h-screen overflow-y-auto flex flex-col justify-center items-center w-screen">
    <div class="mb-4 flex font-bold w-full text-white lg:text-4xl md:text-2xl text-xl">
        <h1 class=" mx-auto">Buat Akun <span class="text-[#00A8FF]">Waifu Baru</span> </h1>
    </div>
    <form  class="flex flex-col min-h-[28rem] bg-slate-950 px-4 py-2 rounded-md text-white max-w-[95%] min-w-[20rem] md:w-[28rem] w-[24rem]" autocomplete="off" method="post">
        {% csrf_token %}
        <div class="mb-4">
            <label for="{{ form.username.id_for_label }}" class="block text-white text-sm  mb-2">Username</label>
            <input type="text" name="username"  class=" bg-slate-800 focus:border  text-white  text-sm rounded-xs focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" placeholder="Masukkan nama kamu" id="{{ form.username.id_for_label }}">
            <p class="mt-2 text-[#00A8FF] text-xs text-justify">Required. 150 characters or fewer. Letters, digits and @/./+/-/_ only.</p>
        </div>
        <div class="mb-4">
            <label for="{{ form.password1.id_for_label }}" class="block text-white text-sm  mb-2">Password</label>
            <input type="password" name="password1" class="bg-slate-800 focus:border  text-white  text-sm rounded-xs focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" placeholder="Buat password" id="{{ form.password1.id_for_label }}">
            <p  class="mt-2 text-[#00A8FF] text-xs text-justify">Your password can`t be too similar to your other personal information.
                Your password must contain at least 8 characters.
                Your password can`t be a commonly used password.
                Your password can`t be entirely numeric.</p>
        </div>
        <div class="mb-4">
            <label for="{{ form.password2.id_for_label }}" class="block text-white text-sm  mb-2">Confirm Password</label>
            <input type="password" name="password2" class="bg-slate-800 focus:border  text-white  text-sm rounded-xs focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"placeholder="Ulangi password" id="{{ form.password2.id_for_label }}">
            <p class="mt-2 text-[#00A8FF] text-xs text-justify">Enter the same password as before, for verification.</p>
        </div>
        <div class="mb-4">
            <h1 class="block text-white text-sm  mb-2">Sudah punya akun? <span><a href="{% url 'main:login' %}" class="font-bold text-[#00A8FF]">Login</a></span></h1>
        </div>  
        <div class="mb-4 mt-auto">
            <hr class=" border-2 rounded-md border-[#00A8FF]">
        </div>
        <div class="mb-2 w-full   text-sm flex">
            <button onclick="onSubmit()" class="ml-auto px-4 py-2 bg-[#00A8FF] text-black hover:text-white hover:bg-blue-900 rounded-sm"type="submit">Buat Akun</button>
        </div>
        
    </form>
    
</div>
<script>
const myElement = document.getElementById('loadingOverlay');
window.addEventListener('load', function() {
    myElement.style.display = 'none';
});
function onSubmit (){
myElement.style.display = 'flex';
setTimeout(function() {
    myElement.style.display = 'none';
}, 5000);
}
</script>
{% endblock content %}